<div class="container medium">
  <div class="row">
    <h1><%=@user.first_name%>'s Profile</h1>
    </div>
    <div class="row">
    <p>Last Name: <%=@user.last_name%></p>
    </div>
    <p>Name: <%=@user.birthday%></p>
    <p>Email: <%=@user.email%></p>
    <form class="" action="/logout" method="post">
      <input type="submit" name="logout" value="Log Out">
      <form action=<%=@user.id%> method="post">
        <input type="submit" name="delete" value="Delete Profile" onclick="alert('Profile Deleted!')">
      </form>
    </div>
  </div>
